/* This stylesheet is used for setting core styles */


/* 
#######
COLORS
####### 

Body font: #8c959f
Headings Color: #3f4c57
Primary Color: #00b3ed
Secondary Color: #ffc72f
Red: #f94b42
Gray: #d4d7dc
Light Gray: #f2f2f2
*/



* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

table {
    text-align: left;
}
table tr {
    border-bottom: 1px solid #EFEFEF;
}
table td {
    padding: 2em;
}

section {
    padding: 50px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #f2f2f2;
}

main{
    padding-top: 115px;
}

.site-wrapper {
    width: 100%;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}

.module {
    position: relative;
    z-index: 1;
}

.two-col-block .container .row .text-column{
    align-self: center;
}

.search-form-wrap{
    width: 200px;
    margin: 0;
    position: relative;
    margin-left: 20px;
}

.search-form-wrap form{
    width: 100%;
}

.search-form-wrap .screen-reader-text{
    display: none;
}

.search-form-wrap input.search-field{
    width: 100%;
    height: 34px;
    display: block;
    background: none;
    border: none;
    -webkit-appearance: none;
    background: #f2f2f2;
    border-radius: 100px;
    color: #3f4c57;
    padding: 0 20px;
}

.search-form-wrap input.search-submit{
    background-image: url('/wp-content/themes/sightbox-cms/static/img/magnifier-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    background-color: #ffc72f;
    -webkit-appearance: none;
    color: #fff;
    border: none;
    border-radius: 150%;
    text-indent: -9999px;
    position: absolute;
    top: 2px;
    right: 3px;
    cursor: pointer;
}

.resources-block .resource-photo{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 350px;
    height: 160px;
}

/* COMMENTS */

footer.comment-meta {
    background: none !important;
    padding: 10px 0;
    border-bottom: 1px solid #f2f2f2;
}
.comment-meta img {
    display: none;
}

section .course-details p{
    font-size: 12px;
}
time {
    color: #3f4c57;
}

h1.masterclass-title {
    font-size: 30px;
}
h3#comments {
    font-size: 90%;
    color: #4d4d4d;
}
h4.single_post {
    margin:30px 0;
}

.comment-content p {
    color: #4d4d4d;
}
.comment-reply-link::before {
    content: '\f075';
    font-family: "Font Awesome 5 Free"; font-weight: 400;
    margin-right: 10px;
}
.comments-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.comments-block .comment-respond{
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-order: -1;
    padding-top: 30px;
    border-top: 1px solid #d4d7dc;
}
.comments-block .comment-reply-title{
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
}
    

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  font-size: 10px;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}*/
.tooltip:hover .tooltiptext {
  visibility: visible;
}


/*Lesson Forms*/
#acf-form button:before, #acf-form .button:before{
    display: none;
}

#acf-form .button-primary{
    background: #00b3ed;
    padding: 10px 25px;
    color: #fff;
}

.media-modal-content .media-toolbar-primary .media-button:before{
    display: none;
}

#edit-lesson-modal{
    background: #fff;
    overflow: auto;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    height: 100%;
    display: none;
}

#edit-lesson-modal.visible{
    display: block;
}

#close-button{
    display: inline-block;
    font-size: 21px;
    width: 34px;
    height: 34px;
    border: 1px solid;
    border-radius: 100%;
    line-height: 29px;
    text-align: center;
    background: #3f4c57;
    color: #fff;
    position: absolute;
    right: 12px;
    cursor: pointer;
    top: 6px;
}



/* COMMENTS */

footer.comment-meta {
    background: none !important;
    padding: 10px 0;
    border-bottom: 1px solid #f2f2f2;
}
.comment-meta img {
    display: none;
}

section .course-details p{
    font-size: 12px;
}
time {
    color: #3f4c57;
}

h1.masterclass-title {
    font-size: 30px;
}
h3#comments {
    font-size: 90%;
    color: #4d4d4d;
}
h4.single_post {
    margin:30px 0;
}

.comment-content p {
    color: #4d4d4d;
}
.comment-reply-link::before {
    content: '\f075';
    font-family: "Font Awesome 5 Free"; font-weight: 400;
    margin-right: 10px;
}
.comments-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.comments-block .comment-respond{
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-order: -1;
    padding-top: 30px;
    border-top: 1px solid #d4d7dc;
}
.comments-block .comment-reply-title{
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
}
    

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  font-size: 10px;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}*/
.tooltip:hover .tooltiptext {
  visibility: visible;
}


/*Lesson Forms*/
#acf-form button:before, #acf-form .button:before{
    display: none;
}

#acf-form .button-primary{
    background: #00b3ed;
    padding: 10px 25px;
    color: #fff;
}

.media-modal-content .media-toolbar-primary .media-button:before{
    display: none;
}

#edit-lesson-modal{
    background: #fff;
    overflow: auto;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    height: 100%;
    display: none;
}

#edit-lesson-modal.visible{
    display: block;
}

#close-button{
    display: inline-block;
    font-size: 21px;
    width: 34px;
    height: 34px;
    border: 1px solid;
    border-radius: 100%;
    line-height: 29px;
    text-align: center;
    background: #3f4c57;
    color: #fff;
    position: absolute;
    right: 12px;
    cursor: pointer;
    top: 6px;
}

/* NEEDED STYLES FOR ACCORDION */

.admin-list h5, .admin-list .h5 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    padding: 10px 0;
}
.admin-list .fas.fa-caret-right {margin-left: 10px; color: #ffc72f;}

.admin-list label {
    display: block;    
	padding: 8px 22px;
    margin: 0 0 1px 0;
	cursor: pointer;
	/*background: #6AAB95;
	border-radius: 3px;*/
	/*color: #FFF;*/
	transition: ease .5s;
    width: 100%;
    border: 1px solid #f2f2f2;
}
.admin-list label:hover {
	background: #f2f2f2;
}
.admin-list .content {
    padding: 10px 25px;
    border: 1px solid #f2f2f2;
	margin: 0 0 1px 0;
	border-radius: 3px;
}

input + .content {
	display: none;
}

input:checked + .content {
	display: block;
    width: 100%;
}

input {
	display: none;
}