.button,
.btn{
    display: inline;
    position: relative;
    padding: 10px 25px;
    padding-left: 60px;
    font-size: 14px;
    font-weight: 500;
    color: #3f4c57;
    transition: all 0.2s ease-out;
    margin-bottom: 20px;
    border-radius: 100px;
    box-shadow: none !important;
    background: none;
    border: none;
    cursor: pointer;
}

.button:before,
.btn:before {
    width: 50px;
    height: 50px;
    content: "";
    background: #ffc72f;
    display: inline-block;
    border-radius: 100px;
    position: absolute;
    top: -5px;
    left: 0px;
    background-image: url('/wp-content/themes/sightbox-cms/static/img/arrow-right.png');
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s ease-out;
}

.button:hover:before,
.btn:hover:before{
    transform: scale(1.1);
}

.sidebar .button_alt {
    margin-top: 0;
}

.button_alt,
.btn_alt,
.comment-form .submit {
    display: inline-block;
    border: 1px solid #42b3e3;
    background-color: #42b3e3;
    color: #ffffff !important;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.2s ease-out;
    margin: 20px 0;
    border-radius: 50px;
    cursor: pointer;
}

.button_alt:hover,
.btn_alt:hover,
.comment-form .submit:hover{
    background-color: transparent;
    color: #42b3e3 !important;
}
