.contact-form-block .module{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
@media only screen and (min-width: 940px) {
	.contact-form-block .module{
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}	
}

.contact-form-block .text-column h3.headline{
	border-bottom: 1px solid #fff;
}

.contact-form-block .form-container{
    padding: 45px;
    background: #f2f2f2;
    width: 100%;
}
@media only screen and (min-width: 940px) {
	.contact-form-block .form-container{
		padding: 45px 90px;
		width: 60%;
	}
}

.contact-form-block .form-container form{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.contact-form-block .form-container form input.half-row, 
.contact-form-block .form-container form textarea.half-row,
.contact-form-block .form-container form label.half-row{
    width: 100%;
}
@media only screen and (min-width: 940px) {
	.contact-form-block .form-container form input.half-row, 
	.contact-form-block .form-container form textarea.half-row,
	.contact-form-block .form-container form label.half-row{
	    width: 46%;
	}
}

.contact-form-block .form-container form input.full-row, 
.contact-form-block .form-container form textarea.full-row,
.contact-form-block .form-container form label.full-row{
    width: 100%;
}

.contact-form-block .form-container form input, .contact-form-block .form-container form textarea{
    padding: 8px 24px;
    -webkit-border-radius: 100px;
            border-radius: 100px;
    border: none;
    margin-bottom: 20px;
}

.contact-form-block .form-container form textarea{
	-webkit-border-radius: 20px;
	        border-radius: 20px;
}

.contact-form-block .form-container form label{
	display: block;
	margin-bottom: 10px;
	font-size: 13px;
	font-style: italic;
	font-weight: 400;
}

.contact-form-block .image-container{
	display: none;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
	background-image: url('/wp-content/themes/sightbox-cms/static/img/contact-image.jpg');
    width: 100%;
    min-height: 500px;
}
@media only screen and (min-width: 940px) {
	.contact-form-block .image-container{
		display: block;
		width: 40%;
	}
}