/* ==================== */
/* GRID */
/* ==================== */

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.blog img {
    width: 100%;
    height: auto;
}

@media only screen and (min-width: 939px) {
    .row {
        -ms-flex-direction: row;
        flex-direction: row;
    }
}

.row.x-center {
    -ms-flex-pack: center;
    justify-content: center;
}

.row.x-right {
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.row.x-left {
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.row.y-center {
    -ms-flex-align: center;
    align-items: center;
}

.column {
    position: relative;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: 1;
    flex-basis: 1;
}

@media only screen and (min-width: 939px) {
    .column{
        margin-left: 1%;
    }
    .column:first-child{
        margin-left: 0;
    }
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    width: 100%;
}

@media only screen and (min-width: 939px) {
    .col-1 {
        max-width: calc(98% / 12);
        width: calc(98% / 12);
    }
    .col-2 {
        max-width: calc(98% / 12 * 2);
        width: calc(98% / 12 * 2);
    }
    .col-3 {
        max-width: calc(97% / 12 * 3);
        width: calc(97% / 12 * 3);
    }
    .col-4 {
        max-width: calc(98% / 12 * 4);
        width: calc(98% / 12 * 4);
    }
    .col-5 {
        max-width: calc(98% / 12 * 5);
        width: calc(98% / 12 * 5);
    }
    .col-6 {
        max-width: calc(98% / 12 * 6);
        width: calc(98% / 12 * 6);
    }
    .col-7 {
        max-width: calc(98% / 12 * 7);
        width: calc(98% / 12 * 7);
    }
    .col-8 {
        max-width: calc(98% / 12 * 8);
        width: calc(98% / 12 * 8);
    }
    .col-9 {
        max-width: calc(98% / 12 * 9);
        width: calc(98% / 12 * 9);
    }
    .col-10 {
        max-width: calc(98% / 12 * 10);
        width: calc(98% / 12 * 10);
    }
    .col-11 {
        max-width: calc(98% / 12 * 11);
        width: calc(98% / 12 * 11);
    }
    .col-12 {
        max-width: calc(98% / 12 * 12);
        width: calc(98% / 12 * 12);
    }
}

@media only screen and (max-width: 939px) {
    .image-column{
        order: -1;
        margin-bottom: 40px;
    }
}

.image-column{
    text-align: center;
}

.image-column img{
    width: 50vw;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 940px) {
    .image-column img{
        width: 100%;
    }
}

.image-column:first-child .img-wrap{
    direction: rtl;
    line-height: 0;
}

.image-column:last-child .img-wrap{
    direction: ltr;
    line-height: 0;
}




