.logo-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    /*max-width: 900px;*/
    margin: 0 auto;
}

.logo-list a {
    max-width: 250px;
    height: auto;
    width: 100%;
    margin: 30px 70px;
    display: block;
    text-align: center;
}

.logo-list img {
    max-width: 160px;
    height: auto;
    width: 100%;
    margin: 30px 70px;
}

.logo-list a img {
    margin: 0;
    width: auto;
}