.resources-block .resource-list{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	     margin-bottom: 50px;
}

.resources-block .resource-item{
	padding: 10px;
	width: 100%;
	max-width: 315px;
	margin: 25px;
}

.resources-block .resource-item .module{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 100%;
}

.resources-block .resource-item a{
	margin-top: auto;
	margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
}

.resources-block .resource-item a span{
	vertical-align: -1px;
}

.resources-block .resource-item h3{
    padding-bottom: 10px;
    border-bottom: 1px solid #f2f2f2;
    position: relative;
    font-size: 16px;
    color: #3f4c57;
    font-weight: 500;
}

.resources-block .resource-item h3 span{
	width: 15px;
	height: 15px;
	border-radius: 150%;
	display: inline-block;
    vertical-align: -2px;
    margin-right: 9px;
}


.resources-block .resource-item .resource-photo{
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.resources-block .resource-item .resource-photo img{
	width: 100%;
}

.resources-block .resource-item .resource-copy{
	width: 100%;
	text-align: left;
	color: #8c959f;
	font-size: 14px;
}

.resources-block .resource-item .resource-copy *{
	font-size: 14px;
}


@media only screen and (max-width: 939px) {
	.resource-item .module{
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}

	.resource-item .resource-photo{
		width: 100%;
	}

	.resource-item .resource-copy{
		width: 100%;
	}	
}