
.nf-form-layout form {
    text-align: left;
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
}
.nf-form-layout input,
.nf-form-layout select,
.nf-form-layout textarea{
    display: block;
    width: 100%;
    margin: 0 0 20px 0;

}

.nf-form-layout select{
    height: 40px;
    font-size: 14px;
}

.nf-form-layout input[type="button"]{
    background: none;
    padding: 11px;
    background-color: #00b3ed;
    font-weight: 500;
    color: #fff;
    border: none;
}

.nf-form-layout .list-radio-wrap input[type="radio"]{
    display: inline-block;
    width: auto;
    /* line-height: 1; */
}

.nf-form-layout label{
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
    font-size: 16px
}

.nf-form-layout .list-radio-wrap label{
    display: inline;
    width: auto; 
    margin-left: 5px;
}

.nf-form-layout .nf-field-label label{
    margin: 10px 0 10px 0;
    display: block;
    font-weight:600;
}

.nf-form-layout .pikaday__container{
    display: block;
}

.nf-form-layout .nf-error-required-error{
    color: red;
    font-size: 12px;
    margin-top: -15px;
}

.nf-form-layout li{
    padding-left: 0;
    margin-bottom: 0;
}

.nf-form-layout li:before{
    display: none;
}

.nf-form-layout .field-wrap.checkbox-wrap{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.nf-form-layout .field-wrap.checkbox-wrap .nf-field-label{
    display: inline-block;
}

.nf-form-layout .field-wrap.checkbox-wrap .nf-field-label label{
    margin: 0;
}

.nf-form-layout .field-wrap.checkbox-wrap .nf-field-element{
    display: inline-block;
    width: 40px;
    line-height: 1;
    margin-right: 5px;
}

.nf-form-layout .field-wrap.checkbox-wrap .nf-field-element input{
    margin: 0;
    padding: 0px;
    display: inl;
    display: inline-block;
}

.nf-form-layout .nf-form-fields-required{
    font-size: 12px
}

.nf-after-form-content nf-section{
    display: none;
}


.um {
	opacity: 1 !important;
}

fieldset {
    border: 1px solid #EFEFEF;
    padding: 1em;
    margin-bottom: 20px;
}
.calendar {
	font-size: 14px;
}
.calendar strong {
	color: #3f4c57;
}

/* MASTER CLASS */
h1.masterclass {
	font-size:20px;
}
article {
	border: 1px solid #EFEFEF;
    padding: 1em;
}
.header-masterclass {
	padding: 2em;
    background: #00b3ed;
}
.header-masterclass a {
	color: #FFF;
}
.sidebar {
	text-align: center;
}
.acf-field input[type="text"] {
	color: #3f4c57;
	font-size: 28px !important;
}
.acf-input-wrap input {
    height: 38px !important;
    margin: 0;
}
.column.comments {
	padding-top: 50px;
}
.single-masterclass .entry-content section:first-of-type {
	padding-top: 0;
}
.single-masterclass .new-version {
	padding-top: 50px;
}

/* Create a Lesson */
.content .acf-field-relationship li::before {
	display: none;
}
.text-column .acf-field-relationship a {
	box-shadow: none;
}

/* COMMENTS */

footer.comment-meta {
    background: none !important;
    padding: 10px 0;
    border-bottom: 1px solid #f2f2f2;
}
.comment-meta img {
    display: none;
}

section .course-details p{
    font-size: 12px;
}
time {
    color: #3f4c57;
}

h1.masterclass-title {
    font-size: 30px;
}
h3#comments {
    font-size: 90%;
    color: #4d4d4d;
}
h4.single_post {
    margin:30px 0;
}

.comment-content p {
    color: #4d4d4d;
}
.comment-reply-link::before {
    content: '\f075';
    font-family: "Font Awesome 5 Free"; font-weight: 400;
    margin-right: 10px;
}
.comments-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.comments-block .comment-respond{
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-order: -1;
    padding-top: 30px;
    border-top: 1px solid #d4d7dc;
}
.comments-block .comment-reply-title{
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
}
    

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  font-size: 10px;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}


/*Lesson Forms*/
#acf-form button:before, #acf-form .button:before{
    display: none;
}

#acf-form .button-primary{
    background: #00b3ed;
    padding: 10px 25px;
    color: #fff;
}

.media-modal-content .media-toolbar-primary .media-button:before{
    display: none;
}

#edit-lesson-modal{
    background: #fff;
    overflow: auto;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    height: 100%;
    display: none;
}

#edit-lesson-modal.visible{
    display: block;
}

#close-button{
    display: inline-block;
    font-size: 21px;
    width: 34px;
    height: 34px;
    border: 1px solid;
    border-radius: 100%;
    line-height: 29px;
    text-align: center;
    background: #3f4c57;
    color: #fff;
    position: absolute;
    right: 12px;
    cursor: pointer;
    top: 6px;
}

/* NEEDED STYLES FOR ACCORDION */

.admin-list h5, .admin-list .h5 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    padding: 10px 0;
}
.admin-list .fas.fa-caret-right {margin-left: 10px; color: #ffc72f;}

.admin-list label {
    display: block;    
	padding: 8px 22px;
    margin: 0 0 1px 0;
	cursor: pointer;
	/*background: #6AAB95;
	border-radius: 3px;*/
	/*color: #FFF;*/
	transition: ease .5s;
    width: 100%;
    border: 1px solid #f2f2f2;
}
.admin-list label:hover {
	background: #f2f2f2;
}
.admin-list .content {
    padding: 10px 25px;
    border: 1px solid #f2f2f2;
	margin: 0 0 1px 0;
	border-radius: 3px;
}

input + .content {
	display: none;
}

input:checked + .content {
	display: block;
    width: 100%;
}

/*LITY MODAL*/
.lity-content {
	background: #FFFFFF;
	/*border-radius: 50px;*/
	padding: 3em;
}
.lity-container {
	width: 50%;
 	overflow-y: auto;
    background: #FFF;
  	border-radius: ;
}
.lity-wrap {
	overflow-y: auto;
}

.lity-content:after{
	box-shadow: none;
	-webkit-box-shadow: none;
}

.lity-close{
	background: #000;
    border-radius: 150%;
}

@media only screen and (max-width: 940px) {
	.lity-content {
		overflow-y: auto;
		border-radius: 0px;
		padding: 1em;
	}
	.lity-container {
		width: 90%;
	}
}

/*Logo CSS override*/
header.header-main .brand > a > img{
    width: 170px;
    height: auto;
}

header.header-mobile .brand > a > img{
    width: 170px;
    height: auto;
}

footer .brand > a > img{
    width: 170px;
    height: auto; 
}




