.stats-block .column{
	text-align: center;
	max-width: 195px;
	margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.stats-block .stat-img{
	margin-bottom: 20px;
}

.stats-block .row{
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.stats-block .stat-text{
	margin-bottom: 0;
	margin-top: auto;
}