.team_members-block{

}

.member-list{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.team-member{
	border: 1px solid #f2f2f2;
	background: #fff;
	padding: 25px;
	width: 100%;
	max-width: 315px;
	margin: 25px;
}

.team-member.vc{
	border: 1px solid #f2f2f2;
	padding: 25px;
	width: 100%;
	max-width: 265px;
	margin: 25px;
}

.team-member .module{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.team-member .member-photo{
	width: 100%;
	text-align: center;
}

.team-member .member-copy{
	width: 100%;
	text-align: center;
	color: #8c959f;
	font-size: 14px;
}

.team-member .member-copy *{
	font-size: 13px;
}

.team-member .member-copy p:last-child{
	margin-bottom: 0;
}

.team-member .member-name {
    color: #3f4c57;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}

.team-member .member-title {
    color: #00b3ed;
    font-size: 14px;
    margin-bottom: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

.team-member .member-photo {
	margin-bottom: 20px;
}

.team-members h2{
    margin-bottom: 80px;
}

@media only screen and (max-width: 939px) {
	.team-member .module{
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}

	.team-member .member-photo{
		width: 100%;
	}

	.team-member .member-copy{
		width: 100%;
	}	
}