.small-only {
    display: block;
}

@media only screen and (min-width: 940px) {
    .small-only {
        display: none !important;
    }
}

.large-only {
    display: none;
}

@media only screen and (min-width: 940px) {
    .large-only {
        display: block;
    }
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.no-padding-bottom{
    padding-bottom: 0;
}